{{ page-title "Oriel" }}
<Navbarwelsh />

<section class='uk-background-primary uk-padding uk-light'>
  <h1>Oriel!</h1>
</section>

<section class="uk-padding">
  <p>Does dim byd yma, eto!</p>
</section>
<Footerwelsh />
