{{page-title 'Get Involved!'}}

<section class='uk-background-primary uk-padding uk-light'>
  <h1>Get Involved</h1>
  <p>There are several ways to get involved with the volunteer work we do, as a
    company, as a school or as a volunteer. Many of the events are only possible
    because of the support of DVLA and our associates and sponsors.</p>
</section>

<section class='uk-padding uk-background-muted'>
  <img
    class='uk-margin'
    src='/images/get-involved/b9ac9-ah2a4478-min-1.webp'
    alt='People Winning A Prize'
  />
  <h3>Are you interested in becoming a Sponsor?</h3>
  <p class='uk-margin-large'>We work with all kinds of organisations who sponsor
    our events and competitions financially, with IT equipment donations or with
    their own time. Every penny of sponsorship and every item of IT kit we
    receive goes directly to schools across Wales so that they can get the full
    benefit of your donation. If you&apos;d like to become a sponsor, please
    read our Sponsorship Guidelines on our downloads page.
  </p>

  <LinkTo
    @route='downloads/index'
    class='uk-button uk-button-primary uk-margin-small width-1-1'
  >Download our Sponsorship Guidelines</LinkTo>
  <p>or visit the
    <LinkTo @route='contact'>Contact Us</LinkTo>
    page to get in touch.</p>
</section>

<section class='uk-padding'>
  <img
    class='uk-margin'
    src='/images/associates/STEM_Ambassadors_Logo-768x348.webp'
    alt='STEM Ambassadors'
  />
  <h3>Volunteering as a STEM Ambassador</h3>
  <p>
    All the volunteers that dedicate their time to the DVLA&apos;s STEM
    Volunteer Programme are all STEM Ambassadors and have all the necessary
    checks in place to work with children. We work very closely with a brilliant
    organisation called STEM Learning to ensure this.
  </p>
  <p class='uk-margin-large'>
    You don&apos;t have to work for DVLA if you want to become a STEM
    Ambassador, just get in touch with STEM Learning to sign up and see the
    fantastic work they do
  </p>
  <a
    href='https://www.stem.org.uk/stem-ambassadors/join-stem-ambassador-programme'
    class='uk-button uk-button-primary uk-margin-small width-1-1'
  >STEM Learning – Become a STEM Ambassador</a>
  <p>or visit the
    <LinkTo @route='contact'>Contact Us</LinkTo>
    page to get in touch.</p>
</section>

<section class='uk-padding uk-background-muted'>
  <img
    class='uk-margin'
    src='/images/get-involved/06d90-kevin-ku-w7zyugynprq-unsplash.webp'
    alt='STEM Ambassadors'
  />
  <h3>Events at your School or College</h3>
  <p class='uk-margin-large'>
    As well as competitions and events we also run individual events for schools
    and colleges. These range from STEM days with activities or after school
    classes at your school, to hosting days where your school can visit DVLA or
    even presentations for colleges. In fact, we are happy to help with anything
    that will inspire children and young adults to get involved with IT.
  </p>
  <p>Just visit the
    <LinkTo @route='contact'>Contact Us</LinkTo>
    page to get in touch tell us what you&apos;d like to do.</p>
</section>

<section class='uk-padding uk-background-muted'>
  <img
    class='uk-margin'
    src='/images/get-involved/news.jpg'
    alt='STEM Ambassadors'
  />
  <h3>Press and News</h3>
  <p class='uk-margin-large'>
    If you would like to keep up to date with all DVLA STEM related events and
    articles you can follow us on our social media links below or download the
    Press Articles from our <LinkTo @route="downloads/index">Downloads</LinkTo> Page.
  </p>
</section>