<div uk-sticky>
  <nav id='desktop' class='uk-navbar-container uk-padding-small' uk-navbar>
    <div class='uk-navbar-left'>

      <ul class='uk-navbar-nav'>
        <li class='uk-active'>
          <LinkTo @route='welsh/index'>
            <img src='/images/DVLA-Website90.png' alt='Logo-DVLA' />
          </LinkTo>
        </li>
        <li><LinkTo @route='welsh/index'>Hafan</LinkTo></li>
        {{!-- <li><LinkTo @route='blog/index'>Blog</LinkTo></li> --}}
        <li>
          <LinkTo @route='welsh/connect/index'>Prosiectau Cymunedol</LinkTo>
          <div class='uk-navbar-dropdown'>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li><LinkTo @route='welsh/connect/gallery/index'>Oriel</LinkTo></li>
            </ul>
          </div>
        </li>
        <li>
          <LinkTo @route='welsh/connect/get-involved/index'>Cymryd Rhan</LinkTo>
          <div class='uk-navbar-dropdown'>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li><LinkTo @route='welsh/downloads/index'>lawrlwythiadau</LinkTo></li>
            </ul>
          </div>
        </li>
        <li><LinkTo @route='welsh/about/index'>am</LinkTo></li>
        <li><LinkTo @route='welsh/contact'>cyswllt</LinkTo></li>
      </ul>

    </div>
  </nav>

  {{! template-lint-disable no-duplicate-landmark-elements }}
  <nav
    id='mobile'
    class='uk-navbar uk-navbar-container uk-padding-small'
    uk-navbar
  >
    <div class='uk-navbar-left'>
      <a
        class='uk-navbar-toggle uk-navbar-toggle-animate'
        uk-navbar-toggle-icon
        href='#'
        aria-label='Open Menu'
      ></a>
      <div class='uk-navbar-dropdown uk-navbar-dropdown-width-2'>
        <div class='uk-navbar-dropdown-grid' uk-grid>
          <div>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li class=''><LinkTo @route='welsh/index'>Hafan</LinkTo></li>
              <li class=''><LinkTo @route='welsh/connect/index'>Prosiectau Cymunedol</LinkTo></li>
              <li class=''><LinkTo @route='welsh/connect/get-involved/index'>Cymryd Rhan</LinkTo></li>
              <li class=''><LinkTo
                  @route='welsh/connect/gallery/index'
                >Oriel</LinkTo></li>
              <li class=''><LinkTo
                  @route='welsh/downloads/index'
                >lawrlwythiadau</LinkTo></li>
              <li class='uk-nav-divider'></li>
              <li><LinkTo @route='welsh/about/index'>am</LinkTo></li>
              <li><LinkTo @route='welsh/contact'>cyswllt</LinkTo></li>
            </ul>
          </div>
        </div>
      </div>
      <LinkTo @route='index'>
        <img src='/images/DVLA-Website90.png' alt='Logo-DVLA' />
      </LinkTo>
    </div>
  </nav>
</div>

{{! template-lint-disable no-forbidden-elements }}
<style>

  #mobile { display: block; } #desktop { display: none; } /* Larger than tablet
  */ @media (min-width: 750px) {#mobile { display: none; } #desktop { display:
  block; } } /* Larger than desktop */ @media (min-width: 1000px) {#mobile {
  display: none; } #desktop { display: block; } } /* Larger than Desktop HD */
  @media (min-width: 1200px) {#mobile { display: none; } #desktop { display:
  block; } }

</style>