<div uk-sticky>
  <nav id='desktop' class='uk-navbar-container uk-padding-small' uk-navbar>
    <div class='uk-navbar-left'>

      <ul class='uk-navbar-nav'>
        <li class='uk-active'><a href='#'>Active</a></li>
        <li>
          <a href='#'>Parent</a>
          <div class='uk-navbar-dropdown uk-navbar-dropdown-width-2'>
            <div class='uk-navbar-dropdown-grid uk-child-width-1-2' uk-grid>
              <div>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                  <li class='uk-active'><a href='#'>Active</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-header'>Header</li>
                  <li><a href='#'>Item</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-divider'></li>
                  <li><a href='#'>Item</a></li>
                </ul>
              </div>
              <div>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                  <li class='uk-active'><a href='#'>Active</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-header'>Header</li>
                  <li><a href='#'>Item</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-divider'></li>
                  <li><a href='#'>Item</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href='#'>Item</a></li>
      </ul>

    </div>
  </nav>

  <nav
    id='mobile'
    class='uk-navbar uk-navbar-container uk-padding-small'
    uk-navbar
  >
    <div class='uk-navbar-left'>
      <a
        class='uk-navbar-toggle uk-navbar-toggle-animate'
        uk-navbar-toggle-icon
        href='#'
        aria-label='Open Menu'
      ></a>
      <div class='uk-navbar-dropdown uk-navbar-dropdown-width-2'>
        <div class='uk-navbar-dropdown-grid' uk-grid>
          <div>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li class=''><LinkTo @route='index'>Home</LinkTo></li>
              <li class=''><LinkTo @route='connect/index'>Community Projects</LinkTo></li>
              <li class=''><LinkTo @route='connect/get-involved/index'>Get Involved</LinkTo></li>
              <li class=''><LinkTo @route='connect/gallery/index'>Gallery</LinkTo></li>
              <li class=''><LinkTo @route='downloads/index'>Downloads</LinkTo></li>
              <li class='uk-nav-divider'></li>
              <li><LinkTo @route="about/index">About us!</LinkTo></li>
              <li><LinkTo @route="contact">Contact us!</LinkTo></li>
              <li class='uk-nav-divider'></li>
              <li><LinkTo @route="index">Go to Welsh Version</LinkTo></li>
            </ul>
          </div>
        </div>
      </div>
      <LinkTo @route='index'>
        <img src='/images/DVLA-Website90.png' alt='Wordpress' />
      </LinkTo>
    </div>
  </nav>
</div>
<style scoped>

  #mobile { display: block; } #desktop { display: none; } /* Larger than tablet
  */ @media (min-width: 750px) {#mobile { display: none; } #desktop { display:
  block; } } /* Larger than desktop */ @media (min-width: 1000px) {#mobile {
  display: none; } #desktop { display: block; } } /* Larger than Desktop HD */
  @media (min-width: 1200px) {#mobile { display: none; } #desktop { display:
  block; } }

</style>