<div uk-sticky>
  <nav id='desktop' class='uk-navbar-container uk-padding-small' uk-navbar>
    <div class='uk-navbar-left'>

      <ul class='uk-navbar-nav'>
        <li class='uk-active'><a href='#'>Active</a></li>
        <li>
          <a href='#'>Parent</a>
          <div class='uk-navbar-dropdown uk-navbar-dropdown-width-2'>
            <div class='uk-navbar-dropdown-grid uk-child-width-1-2' uk-grid>
              <div>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                  <li class='uk-active'><a href='#'>Active</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-header'>Header</li>
                  <li><a href='#'>Item</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-divider'></li>
                  <li><a href='#'>Item</a></li>
                </ul>
              </div>
              <div>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                  <li class='uk-active'><a href='#'>Active</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-header'>Header</li>
                  <li><a href='#'>Item</a></li>
                  <li><a href='#'>Item</a></li>
                  <li class='uk-nav-divider'></li>
                  <li><a href='#'>Item</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href='#'>Item</a></li>
      </ul>

    </div>
  </nav>

  <nav
    id='mobile'
    class='uk-navbar uk-navbar-container uk-padding-small'
    uk-navbar
  >
    <div class='uk-navbar-left'>
      <a
        class='uk-navbar-toggle uk-navbar-toggle-animate'
        uk-navbar-toggle-icon
        href='#'
        aria-label='Open Menu'
      ></a>
      <div class='uk-navbar-dropdown uk-navbar-dropdown-width-2'>
        <div class='uk-navbar-dropdown-grid uk-child-width-1-2' uk-grid>
          <div>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li class='uk-nav-header'>Community Projects</li>
              <li class=''><a href='#'>DVLA Code Challenge</a></li>
              <li class=''><a href='#'>Studen Computer Scheme</a></li>
              <li class=''><a href='#'>Event Calendar</a></li>
              <li class=''><a href='#'>After School Classes</a></li>
              <li class=''><a href='#'>Bring your school to visit</a></li>
              <li class=''><a href='#'>Partner Events</a></li>
              <li class=''><a href='#'>Oppitunities</a></li>
              <li class='uk-nav-header'>Get Invloved</li>
              <li class=''><a href='#'>Our Partners and Sponsors</a></li>
              <li class=''><a href='#'>Donations</a></li>
              <li class=''><a href='#'>Volunteering</a></li>
              <li class='uk-nav-divider'></li>
              <li class='uk-nav-header'>Gallery</li>
            </ul>
          </div>
          <div>
            <ul class='uk-nav uk-navbar-dropdown-nav'>
              <li class='uk-nav-header'>Downloads</li>
              <li class=''><a href='#'>Event Entry Forms</a></li>
              <li class=''><a href='#'>Sponsor Registration Form</a></li>
              <li class=''><a href='#'>Press releases/News articles</a></li>
              <li class=''><a href='#'>Videos</a></li>
              <li class='uk-nav-header'>About Us</li>
              <li><a href='#'>DVLA STEM Programme</a></li>
              <li><a href='#'>DVLA</a></li>
              <li><a href='#'>Our Team</a></li>
              <li><a href='#'>Privacy Policy</a></li>
              <li class='uk-nav-divider'></li>
              <li class='uk-nav-header'><LinkTo @route='contact/index'>Contact
                  Us</LinkTo></li>
              <li class='uk-nav-header'><LinkTo
                  @route='index'
                >Home</LinkTo></li>
            </ul>
          </div>
        </div>
      </div>
      <LinkTo @route='index'>
        <img src='/images/DVLA-Website90.png' alt='Wordpress' />
      </LinkTo>
    </div>
  </nav>
</div>
<style scoped>

  #mobile { display: block; } #desktop { display: none; } /* Larger than tablet
  */ @media (min-width: 750px) {#mobile { display: none; } #desktop { display:
  block; } } /* Larger than desktop */ @media (min-width: 1000px) {#mobile {
  display: none; } #desktop { display: block; } } /* Larger than Desktop HD */
  @media (min-width: 1200px) {#mobile { display: none; } #desktop { display:
  block; } }

</style>