{{page-title 'Home'}}

<Navbarwelsh />

{{! Header }}
{{!-- template-lint-disable no-inline-styles --}}
<div class='uk-section uk-background-cover uk-section-xlarge uk-light' style="background-image: url('/images/c003x3x2_3.webp')">
  <div class='uk-container'>

    {{!-- <h3>DVLA</h3> --}}

    <div class='uk-grid-match' uk-grid>
      <div>
        {{!-- {{! template-lint-disable no-inline-styles }}
        <p class='uk-heading-small'>&lt;<span style='color: yellow;'>
            <strong>STEM program</strong></span>/&gt;</p> --}}
      </div>
    </div>

  </div>
</div>

{{! Stats on the home page }}
<section class='uk-padding'>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Sefydlwyd yn:</h3>
    <p>2014</p>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Clybiau Ar Ôl Ysgol:</h3>
    <p>15</p>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Gwirfoddolwyr:</h3>
    <p>40</p>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Rhoddion i ysgolion:</h3>
    <p>£220k</p>
  </div>
</section>

{{! Description }}
<section class='uk-padding uk-background-muted'>
  <h1 class='uk-heading-small'><strong>Rhaglen STEM y DVLA</strong></h1>
  <p>Mae Rhaglen STEM y DVLA yn fenter a arweinir gan wirfoddolwyr, ac a
    gefnogir gan y DVLA. Sefydlwyd y rhaglen yn 2014 i hyrwyddo pynciau STEM
    (Gwyddoniaeth, Technoleg, Peirianneg a Mathemateg) a dysgu ar lawr gwlad, o
    ysgolion cynradd i fyfyrwyr chweched dosbarth a choleg, ledled Cymru. Ers
    hynny, mae'r rhaglen wedi tyfu'n sylweddol. Rydym yn cynnal cystadlaethau a
    digwyddiadau ar gyfer pob ysgol gynradd ac uwchradd yng Nghymru, gan roi
    cannoedd o filoedd o bunnau i ysgolion ar draws y wlad. Rydym yn cyflawni
    hyn gyda chefnogaeth y DVLA a'n noddwyr hael. Mae'r rhaglen STEM yn helpu
    plant i ddysgu hanfodion pynciau STEM ac yn dangos y cyfleoedd sydd ganddynt
    ar gyfer y dyfodol.</p>
  <p class='uk-margin-large'>Dyma rai o'r prosiectau y mae'r DVLA yn gweithio
    arnynt eleni. Ewch i'n tudalen
    <LinkTo @route='whats-on'>Beth Sy'n Cael Ei Gynnal</LinkTo>
    i weld y rhestr lawn.
  </p>
</section>

<section class='uk-padding'>
  <h1 class='uk-heading-small'><strong>Community Events and Projects for 2022
      Dewch i ymuno â ni!</strong></h1>

  <div class=''>
    {{! DVLA Code Challenge December 2022 }}

    <div
      class='uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s uk-margin'
      uk-grid
    >
      <div class='uk-card-media-top uk-card-media-left@s uk-cover-container'>
        <img
          src='/images/events/b0df0-imgl9334-min-768x492.webp'
          alt='Winners'
          uk-cover
        />
        <canvas width='600' height='400'></canvas>
      </div>
      <div>
        <div class='uk-card-body'>
          <h3 class='uk-card-title'>6 Rhagfyr 2022 – Her Godio DVLA</h3>
          <p>Mae Her Godio DVLA yn ôl ar gyfer 2022. Y llynedd cynhaliwyd
            digwyddiad cwbl ar-lein gyda dros 6000 o athrawon a myfyrwyr yn
            ymuno...</p>
          <LinkTo
            @route='connect/events/commerce-in-code-challenge-2022'
            class='uk-button uk-button-primary uk-width-1-1'
          >Mwy...</LinkTo>
        </div>
      </div>
    </div>

    <div
      class='uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s uk-margin'
      uk-grid
    >
      <div class='uk-flex-top@s uk-card-media-right uk-cover-container'>
        <img
          src='/images/events/CommerceInCode-768x512.webp'
          alt='Meeting'
          uk-cover
        />
        <canvas width='600' height='400'></canvas>
      </div>
      <div>
        <div class='uk-card-body'>
          <h3 class='uk-card-title'>6 Rhagfyr 2022 - Her Godio mewn Masnach 2022</h3>
          <p>Rydym yn falch o lansio'r Her Godio mewn Masnach newydd, wedi'i
            hanelu at fyfyrwyr 16-18 oed. Mae ein her newydd yn dwyn ynghyd
            Raglen Profiad Gwaith y DVLA gyda nodau bywyd...</p>
          <LinkTo
            @route='connect/events/commerce-in-code-challenge-2022'
            class='uk-button uk-button-primary uk-width-1-1'
          >Mwy...</LinkTo>
        </div>
      </div>
    </div>

    <div
      class='uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s uk-margin'
      uk-grid
    >
      <div class='uk-card-media-top uk-card-media-left@s uk-cover-container'>
        <img
          src='/images/events/Refurbish-768x512.webp'
          alt='Refurbished Laptops'
          uk-cover
        />
        <canvas width='600' height='400'></canvas>
      </div>
      <div>
        <div class='uk-card-body'>
          <h3 class='uk-card-title'>Y Cynllun Cynhwysiant Digidol</h3>
          <p>Nod ein Cynllun Cynhwysiant Digidol a lansiwyd ar 2 Medi yw
            ailgylchu dros 1,000 o liniaduron yn ôl i'r gymuned ar gyfer
            myfyrwyr. ..</p>
          <LinkTo
            @route='connect/events/digital-inclusion-scheme'
            class='uk-button uk-button-primary uk-width-1-1'
          >Mwy...</LinkTo>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='uk-padding uk-background-muted'>
  <h1 class='uk-heading-small'><strong>Cymryd Rhan</strong></h1>
  <p>Mae llwyth o ffyrdd y gallwch gymryd rhan yn y gwaith rydym yn ei wneud,
    fel cwmni, fel ysgol, neu fel gwirfoddolwr. Dysgwch sut i wneud hynny ar ein
    tudalen
    <LinkTo @route='index'>Cymryd Rhan</LinkTo>.</p>

  <h3 class='uk-margin'><strong>I Ysgolion a Myfyrwyr</strong></h3>
  <p>Rydym yn cynnal sawl cynllun, o ddigwyddiadau a chystadlaethau i brofiad
    gwaith a phrentisiaethau. Cysylltwch â ni a gallem fod yn cynnal
    digwyddiadau neu glybiau yn eich ysgol neu'n eich gwahodd i ymweld â'r DVLA.</p>

  <h3 class='uk-margin'><strong>I Sefydliadau</strong></h3>
  <p>Os ydych am noddi, gwneud rhodd, neu weithio â ni ar brosiectau STEM, rydym
    yn hapus i weithio â chi. Cysylltwch â ni a gallwn weld beth allwn ni ei
    wneud i helpu'ch prosiect, hyd yn oed os yw hynny ond yn golygu lledaenu'r
    neges.</p>

  <h3 class='uk-margin'><strong>I Unigolion</strong></h3>
  <p>Os ydych am fod yn wirfoddolwr ac yn gweithio i'r DVLA, gallwch ymuno â'n
    Rhaglen STEM. Os nad ydych chi'n gweithio i'r DVLA, gallwch gysylltu â ni
    drwy ein tudalen
    <LinkTo @route='contact'>Cysylltu â ni</LinkTo>.</p>
</section>

<Footerwelsh />