{{page-title "Beth Sy'n Cael Ei Gynnal!"}}
<Navbarwelsh />

<section class='uk-padding uk-margin'>
  <h1><strong>Beth Sy'n Cael Ei Gynnal</strong></h1>
  <p class='uk-margin'>Mae Rhaglen STEM y DVLA yn cynnal nifer o ddigwyddiadau a
    phrosiectau yn ystod y flwyddyn. Y prif ffocws bob tro yw rhoi budd i'r
    gymuned ledled Cymru, drwy ddarparu gweithgareddau a digwyddiadau hwylus ac
    addysgiadol i blant ac oedolion ifanc 7 i 18 oed, a thrwy helpu sefydliadau
    eraill â phrosiectau STEM eu hunain. Arweinir ein holl brosiectau gan ein
    gwirfoddolwyr STEM. Os ydych chi'n gweithio i'r DVLA, byddwch yn cael y
    cyfle i ymgysylltu â nifer o wahanol ddigwyddiadau, o gystadlaethau
    cenedlaethol fel Her Codio'r DVLA, i ddiwrnodau gwesteio ysgolion unigol neu
    glybiau ar ôl ysgol.</p>

  <p class='uk-margin'>Cliciwch ar unrhyw un o'r dolenni isod i ddysgu rhagor am
    y digwyddiadau a'r prosiectau rydym yn eu cynnal eleni.</p>

  <p class='uk-margin'>Credwn fod gan Gymru'r potensial i arwain yn y meysydd
    technoleg ac arloesi nawr ac yn y dyfodol. Dim ond rhai o'r ffyrdd yw'r
    prosiectau hyn y mae'r DVLA yn helpu cymunedau ac yn buddsoddi yng
    nghenedlaethau'r dyfodol o dechnolegwyr.</p>
</section>

<section class='uk-padding'>
  {{! Code Challenges }}
  <h2>Her Codio'r DVLA</h2>
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      {{! template-lint-disable require-valid-alt-text }}
      <img
        src='/images/events/b0df0-imgl9334-min-768x492.webp'
        width=''
        height=''
        alt=''
      />
    </div>
    <div class='uk-card-body'>
      <h3 class='uk-card-title'>Her Godio&apos;r DVLA Rhagfyr 2022</h3>
      <p>Mae Her Godio DVLA yn ôl ar gyfer 2022. Y llynedd cynhaliwyd digwyddiad
        cwbl ar-lein gyda dros 6000 o athrawon a myfyrwyr yn ymuno...</p>
      <LinkTo
        @route='welsh/events/dvla-code-challenge-2022'
        class='uk-button uk-button-primary uk-width-1-1'
      >Dysgwch fwy...</LinkTo>
    </div>
  </div>

  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      {{! template-lint-disable require-valid-alt-text }}
      <img
        src='/images/events/b0df0-imgl9334-min-768x492.webp'
        width=''
        height=''
        alt=''
      />
    </div>
    <div class='uk-card-body'>
      <h3 class='uk-card-title'>Her Godio mewn Masnach Rhagfyr 2022</h3>
      <p>Rydym yn falch o lansio'r Her Godio mewn Masnach newydd, wedi'i hanelu
        at fyfyrwyr 16-18 oed. Mae ein her newydd yn dwyn ynghyd Raglen Profiad
        Gwaith y DVLA gyda nodau bywyd go iawn ar gyfer Myfyrwyr busnes a TG...</p>
      <LinkTo
        @route='events/commerce-in-code-challenge-2022'
        class='uk-button uk-button-primary uk-width-1-1'
      >Dysgwch fwy...</LinkTo>
    </div>
  </div>

  {{! Digital Inclusion Scheme }}
  <h2>Digital Inclusion Scheme</h2>
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      {{! template-lint-disable require-valid-alt-text }}
      <img
        src='/images/events/IMG_6030-768x512.webp'
        width=''
        height=''
        alt=''
      />
    </div>
    <div class='uk-card-body'>
      <h3 class='uk-card-title'>Digital Inclusion September 2021</h3>
      <p>Our Digital Inclusion Scheme launched on the 2nd September and our aim
        is to recycle over 1000 laptops back into the Community for Students...</p>
      <LinkTo
        @route='events/digital-inclusion-scheme'
        class='uk-button uk-button-primary uk-width-1-1'
      >View More...</LinkTo>
    </div>
  </div>

  {{! After School Classes }}
  <h2>After School Classes</h2>
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      {{! template-lint-disable require-valid-alt-text }}
      <img
        src='/images/events/Code-Club_06-2-768x511.webp'
        width=''
        height=''
        alt=''
      />
    </div>
    <div class='uk-card-body'>
      <p>Unfortunately we have suspended our after school classes due to the
        pandemic. We will be resuming these when it is safe and practical to do
        so. Check back to see when we start the classes again or get in touch on
        our
        <LinkTo @route='contact'>Contact Us</LinkTo>
        page.</p>
    </div>
  </div>

  {{! School Hosting Days }}
  <h2>School Hosting Days</h2>
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      {{! template-lint-disable require-valid-alt-text }}
      <img src='/images/events/IMG_9983.webp' width='' height='' alt='' />
    </div>
    <div class='uk-card-body'>
      <p>Unfortunately we have suspended our School Hosting Days due to the
        pandemic. We will be resuming these when it is safe and practical to do
        so. Check back to see when we start the classes again or get in touch on
        our
        <LinkTo @route='contact'>Contact Us</LinkTo>
        page.</p>
    </div>
  </div>
</section>
<Footerwelsh />