{{page-title 'Contact Us!'}}

<main class='uk-padding'>
  <h1>Contact us!</h1>
  <p>
    If you want to talk to us or get involved with any of the projects and
    events we run, or if you want to talk about a new initiative you have,
    please fill in the form below.<br /><br />We&apos;d love to hear from you!
  </p>
  <br />
  <br />
  <form>
    <fieldset class='uk-fieldset'>

      <h4 class='uk-legend'>Name: *</h4>

      <div class='uk-margin'>
        <input
          class='uk-input'
          type='text'
          placeholder='e.g. John Doe'
          required
        />
      </div>

      <h4 class='uk-legend'>Email: *</h4>

      <div class='uk-margin'>
        <input
          class='uk-input'
          type='email'
          placeholder='e.g. john@example.com'
          required
        />
      </div>

      <div class='uk-margin' aria-required='true'>
        <legend class='uk-legend'>
          What would you like to talk to us about? *</legend>
        <br />
        <select class='uk-select'>
          <option>Becoming a Sponsor</option>
          <option>Work with us on STEM Projects</option>
          <option>Running a Club in your school</option>
          <option>Hosting Day at DVLA</option>
          <option>STEM Presentation for your School or College</option>
          <option>Digital Inclusion Scheme</option>
          <option>Something else...</option>
        </select>
      </div>

      <h4>Message: *</h4>

      <div class='uk-margin'>
        <textarea
          class='uk-textarea'
          rows='5'
          placeholder='Your Message here...'
          required
        ></textarea>
      </div>

      <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Submit!</button>
      </div>
    </fieldset>
  </form>
</main>