{{ page-title "The DVLA Commerce in Code Challenge 2022"}}
{{!-- template-lint-disable no-inline-styles --}}
<div uk-alert class="uk-alert-primary" style="margin: 0;">
    <h3>Notice</h3>
    <p>This site is a project and any details that is entered to this site will be rejected/not sent. The official stem site is the the following: <a href="http://stem.dvla.gov.uk">http://stem.dvla.gov.uk</a></p>
</div>
<Navbar />

{{!-- template-lint-disable no-invalid-link-text --}}
<a href="" uk-totop uk-scroll></a>

<Footer />