{{page-title 'DVLA Code Challenge 2022'}}

<main class='uk-padding'>
  <img src='/images/event/df862-dvla-code-1.webp' alt='' />
  <article class='uk-article uk-margin-large'>
    <h1 class='uk-article-title'><a class='uk-link-reset' href=''>DVLA Code
        Challenge 2022</a></h1>

    <p class='uk-margin'>
      After a brilliant response to last year&apos;s competition with over 6000
      teachers and Students joining our fully remote event and hundreds of
      questions about when the next one would be starting, we have launched the
      DVLA Code Challenge for 2022.
    </p>

    <p class='uk-margin'>
      This year we have opened up the Challenge even further, to children and
      young adults from the age of 7 to 18, so your School, College or Group can
      enter any or all of the three categories<br />

      <ul>
        <li>DVLA Code Challenge for students aged 7 to 11</li>
        <li>DVLA Code Challenge for students aged 11 to 16</li>
        <li>And the New “Commerce in Code Challenge” for students aged 16 to 18</li>
      </ul>
    </p>

    <p class='uk-margin'>
      The Code Challenge enables students of all ages to develop their problem
      solving, teamworking skills and improve their knowledge of computer
      programming in a fun and innovative way and also to win thousands of
      pounds of IT Equipment for their schools or Groups.
    </p>

    <p class='uk-margin'>
      The competition prize giving event will be hosted by Sian Lloyd
      (Journalist and Broadcaster) on Tuesday 6th December 2022 and a Prize Draw
      to win IT Equipment.
    </p>

    <div
      class='uk-align-center uk-flex uk-flex-center uk-flex-column uk-flex-middle uk-margin-large'
    >
      <img src='/images/SianLloyd.webp' width='250' alt='Sian Lloyd' />
      <p class='uk-article-meta'>Sian Lloyd</p>
    </div>

    <p class='uk-margin'>
      To register for the event in any of the categories just read the
      Competition Terms and Conditions and send us the completed registration
      form. You&apos;ll find all the information you need on our
      <LinkTo @route='index'>Downloads page</LinkTo>.
    </p>

    <p class='uk-margin'>
      You can get free tickets to join us on site at the Richard Ley Development
      Centre in Swansea or online from our
      <a
        href='https://www.eventbrite.co.uk/e/dvla-code-challenge-2022-6th-december-between-9am-and-4pm-dvla-swansea-tickets-346992111747'
        target='_blank'
        rel='noopener noreferrer'
      >Eventbrite page</a>, just follow this link. Every free ticket is an entry
      into our Prize Draw.
    </p>

    <p class='uk-margin'>
      All of this has only been possible because of the brilliant sponsors and
      associates who have supported us over the years. All of us at DVLA would
      like to say a massive thank you for your support. You can see all our
      associates and sponsors, past and present
      <LinkTo @route='index'>here</LinkTo>
      and find out how to become a sponsor.
    </p>

    <h3>In Association with</h3>

    <div
      class='uk-position-relative uk-visible-toggle uk-light'
      tabindex='-1'
      uk-slideshow='min-height: 300; max-height: 600;autoplay: true;animation: pull'
    >


      <a
        class='uk-position-center-left uk-position-small uk-hidden-hover'
        href='#'
        uk-slidenav-previous
        uk-slideshow-item='previous'
      ></a>
      <a
        class='uk-position-center-right uk-position-small uk-hidden-hover'
        href='#'
        uk-slidenav-next
        uk-slideshow-item='next'
      ></a>

    </div>
    <div class='uk-child-width-1-3@m' uk-grid uk-lightbox='animation: fade'>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/tarian_rocu.webp'
          data-caption='Caption 1'
        >
          <img
            src='/images/associates/tarian_rocu.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/SC-Logo-Centred-RGB-72dpi.webp'

          data-caption='Caption 2'
        >
          <img
            src='/images/associates/SC-Logo-Centred-RGB-72dpi.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/STEM_Ambassadors_Logo-768x348.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/STEM_Ambassadors_Logo-768x348.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/NHS_logo-768x254.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/NHS_logo-768x254.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/brake_logo.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/brake_logo.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/ministry_of_defence_logo_white.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/ministry_of_defence_logo_white.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/North_Mid_South_AllWales-768x90.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/North_Mid_South_AllWales-768x90.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/incredible_oceans_logo.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/incredible_oceans_logo.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
      <div>
        <a
          class='uk-inline'
          href='/images/associates/schoolbeat-768x107.webp'
          data-caption='Caption 3'
        >
          <img
            src='/images/associates/schoolbeat-768x107.webp'
            width='1800'
            height='1200'
            alt=''
          />
        </a>
      </div>
    </div>
  </article>
</main>