{{page-title 'About'}}
<Navbarwelsh />

<section class='uk-background-primary uk-padding uk-light'>
  <h1>About Us!</h1>
</section>

<section class='uk-padding uk-margin-large'>
  <h3>DVLA STEM Programme</h3>
  <img src='/images/about/94860-ah2a4449-1-768x512.jpg' alt='Party Thing' />
  <p>The DVLA STEM Programme is a volunteer-led initiative, supported by DVLA.
    The programme was founded in 2014 to promote STEM (Science, Technology,
    Engineering and Mathematics) subjects and grass roots learning, from primary
    schools through to sixth form and college students, throughout Wales. Since
    then, the programme has grown considerably. We run competitions and events
    for all primary and secondary schools in Wales, donating hundreds of
    thousands of pounds to schools across the country. We achieve this with the
    support of DVLA and our generous sponsors. The STEM programme helps children
    learn the fundamentals of STEM subjects and shows the opportunities they
    have for the future.</p>
</section>

<section class='uk-padding uk-margin-large'>
  <h3>Our Team</h3>
  <img src='/images/about/our-team-768x512.jpg' alt='Party Thing' />
  <p>We have an amazing team of about 50 volunteers who give up their own time
    to run after school classes, events and hosting days, helping children to
    learn code and have fun. They also make our competition days exciting and
    look after the 240 or so children that join us. We are very proud of the
    commitment they show and the work they do in the community. But the STEM
    Programme crosses the whole agency and without the support from DVLA staff
    and management we would not be able to do what we do.</p>
</section>
<Footerwelsh />
