{{page-title 'Downloads'}}

<main class=''>
  <section class='uk-background-primary uk-light uk-padding'>
    <h1><strong>Downloads</strong></h1>
    <p>
      You can download all the entry forms and Terms and Conditions for all our
      events below.
    </p>
  </section>
  <section class='uk-padding'>
    <div class='uk-card uk-card-primary uk-card-body uk-margin-large'>
      <h3 class='uk-card-title'>DVLA Code Challenge Competition</h3>
      <div>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FDVLA-Code-Challenge-Terms-and-Conditions-2022.docx?alt=media&token=18e129b9-b544-448e-bcb4-e79cf8629b21'
          target='_blank'
          hreflang='en' rel="noopener noreferrer"
        >Download Terms & conditions</a>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FDVLA-Code-Challenge-RegForm-2022.docx?alt=media&token=bf358e5c-aa02-42de-831e-9276b7bf2b53'
          target='_blank'
          hreflang='en' rel="noopener noreferrer"
        >Download Registertion Form</a>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FDVLA-Code-Challenge-Themes-2022.docx?alt=media&token=94277d64-bd81-4853-aa60-41f020a282b7'
          target='_blank'
          hreflang='en' rel="noopener noreferrer"
        >Download Challenge Themes</a>
      </div>
    </div>
    <div class='uk-card uk-card-secondary uk-card-body uk-margin-large'>
      <h3 class='uk-card-title'>Commerce In Code Documents</h3>
      <div>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FCommerce-In-Code-Challenge-Terms-and-Conditions-2022.docx?alt=media&token=08a7b188-56e0-4e44-a382-062d4555f13a'
          target='_blank'
          hreflang='en' rel="noopener noreferrer"
        >Download Terms & conditions</a>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FCommerce-In-Code-Challenge-Project-Brief.docx?alt=media&token=0f5a268a-0212-4644-84a6-535c1b94fa37'
          target='_blank'
          hreflang='en' rel="noopener noreferrer"
        >Download Project Brief</a>
      </div>
    </div>
    <div class='uk-card uk-card-muted uk-card-body uk-margin-large'>
      <h3 class='uk-card-title'>STEM Programme Documents</h3>
      <div>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FDVLA-STEM-Digital-Inclusion-Scheme-Terms-and-Conditions.pdf?alt=media&token=774f026f-c787-4820-ad13-975750da52a3'
          target='_blank'
          hreflang='en'
          rel='noopener noreferrer'
        >Download Digital Inclusion Scheme Terms and Conditions</a>
        <a
          class='uk-button uk-button-primary uk-margin-small'
          href='https://firebasestorage.googleapis.com/v0/b/stem-dvla-project.appspot.com/o/public-forms%2FVolunteer-STEM-Programme-Sponsorship-Guidelines-2022.docx?alt=media&token=83679fe0-7749-493a-830a-62b70083402b'
          target='_blank'
          hreflang='en'
          rel='noopener noreferrer'
        >Download Volunteer STEM Programme Sponsorship Guidelines</a>
      </div>
    </div>
  </section>
</main>