{{page-title 'Community Projects'}}
{{!-- template-lint-disable no-inline-styles --}}
<div uk-alert class="uk-alert-primary" style="margin: 0;">
    <h3>Notice</h3>
    <p>This site is a project and any details that is entered to this site will be rejected/not sent. The official stem site is the the following: <a href="http://stem.dvla.gov.uk">http://stem.dvla.gov.uk</a></p>
</div>
<Navbar />

<section
  class='uk-section uk-section-xlarge uk-section-primary uk-light uk-padding'
>
  <h1>Community Projects</h1>
</section>

<section class='uk-padding'>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin-large'>
    <h3 class='uk-card-title'>DVLA Code Challenge 2022</h3>
    <div>
      <p>DVLA Code Challenge is back for 2022. Last year we ran a fully remote
        event with over 6000 teachers and students joining us, this year with
        restrictions being removed, we will be running the event in the Richard
        Ley Development Centre (RLDC) and streaming live on-line.</p>
      <LinkTo
        @route='connect/events/dvla-code-challenge-2022'
        class='uk-button uk-button-primary uk-margin-small width-1-1'
      >View More...</LinkTo>
    </div>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin-large'>
    <h3 class='uk-card-title'> Student Computer Scheme</h3>
    <div>
      <p>Our Digital Inclusion Scheme launched on the 2nd September and our aim
        is to recycle over 1000 laptops back into the Community for Students.
        The Scheme is open to everyone throughout Wales through your Local
        Authority.</p>
      <LinkTo
        @route='connect/events/digital-inclusion-scheme'
        class='uk-button uk-button-primary uk-margin-small width-1-1'
      >View More...</LinkTo>
    </div>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin-large'>
    <h3 class='uk-card-title'>Events Calender</h3>
    <div>
      <p>Our Digital Inclusion Scheme launched on the 2nd September and our aim
        is to recycle over 1000 laptops back into the Community for Students.
        The Scheme is open to everyone throughout Wales through your Local
        Authority.</p>
      <LinkTo
        @route='connect/events/digital-inclusion-scheme'
        class='uk-button uk-button-primary uk-margin-small width-1-1'
      >View More...</LinkTo>
    </div>
  </div>
</section>
{{!-- template-lint-disable no-invalid-link-text --}}
<a href="" uk-totop uk-scroll></a>

<Footer />