{{page-title 'Home'}}

{{! Header }}
<div class='uk-section uk-section-primary uk-section-xlarge uk-light'>
  <div class='uk-container'>

    <h3>DVLA</h3>

    <div class='uk-grid-match' uk-grid>
      <div>
        <p class='uk-heading-small'>&lt;<span style='color: yellow;'><strong
            >STEM program</strong></span>/&gt;</p>
      </div>
    </div>

  </div>
</div>

{{! Stats on the home page }}
<section class='uk-padding'>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Founded in:</h3>
    <p>2014</p>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>After School Clubs:</h3>
    <p>15</p>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Volunters:</h3>
    <p>40</p>
  </div>
  <div class='uk-card uk-card-secondary uk-card-body uk-margin'>
    <h3 class='uk-card-title'>Donation to schools:</h3>
    <p>£220k</p>
  </div>
</section>

{{! Description }}
<section class='uk-padding uk-background-muted'>
  <h1 class='uk-heading-small'><strong>DVLA STEM Programme</strong></h1>
  <p>The DVLA STEM Programme is a volunteer-led initiative, supported by DVLA.
    The programme was founded in 2014 to promote STEM (Science, Technology,
    Engineering and Mathematics) subjects and grass roots learning, from primary
    schools through to sixth form and college students, throughout Wales. Since
    then, the programme has grown considerably. We run competitions and events
    for all primary and secondary schools in Wales, donating hundreds of
    thousands of pounds to schools across the country. We achieve this with the
    support of DVLA and our generous sponsors. The STEM programme helps children
    learn the fundamentals of STEM subjects and shows the opportunities they
    have for the future.</p>
  <p class='uk-margin-large'>These are just some of the Projects DVLA is working
    on this year. Check out our
    <LinkTo @route='whats-on'>What&apos;s On</LinkTo>
    Page for the full list.
  </p>
</section>

<section class='uk-padding'>
  <h1 class='uk-heading-small'><strong>Community Events and Projects for 2022</strong></h1>

  {{! DVLA Code Challenge December 2022 }}
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      <img
        src='/images/events/b0df0-imgl9334-min-768x492.webp'
        width=''
        height=''
        alt=''
      />
    </div>
    <div class='uk-card-body'>
      <h3 class='uk-card-title'>6th December 2022 – DVLA Code Challenge</h3>
      <p>DVLA Code Challenge is back for 2022. Last year we ran a fully remote
        event with over 6000 teachers and students...</p>
      <LinkTo
        @route='events/dvla-code-challenge-2022'
        class='uk-button uk-button-primary uk-width-1-1'
      >View More...</LinkTo>
    </div>
  </div>

  {{! 6th December 2022 – Commerce in Code Challenge }}
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      <img
        src='/images/events/CommerceInCode-768x512.webp'
        width=''
        height=''
        alt='Commerce In Code'
      />
    </div>
    <div class='uk-card-body'>
      <h3 class='uk-card-title'>6th December 2022 – Commerce in Code Challenge</h3>
      <p>We are proud to launch the new Commerce in Code Challenge, aimed at
        students aged 16 -18, our new challenge brings together the DVLA Work
        Experience ...</p>
      <LinkTo
        @route='events/commerce-in-code-challenge-2022'
        class='uk-button uk-button-primary uk-width-1-1'
      >View More...</LinkTo>
    </div>
  </div>

  {{! Digital Inclusion Scheme }}
  <div class='uk-card uk-card-secondary uk-margin-large'>
    <div class='uk-card-media-top'>
      <img
        src='/images/events/Refurbish-768x512.webp'
        width=''
        height=''
        alt='Refurbished Laptops'
      />
    </div>
    <div class='uk-card-body'>
      <h3 class='uk-card-title'>Digital Inclusion Scheme</h3>
      <p>Our Digital Inclusion Scheme launched on the 2nd September and our aim
        is to recycle over 1000 laptops back into the Community for Students...</p>
      <LinkTo
        @route='events/digital-inclusion-scheme'
        class='uk-button uk-button-primary uk-width-1-1'
      >View More...</LinkTo>
    </div>
  </div>
</section>

<section class='uk-padding uk-background-muted'>
  <h1 class='uk-heading-small'><strong>Get Involved</strong></h1>
  <p>There are loads of ways to get involved with the work we do, as a company,
    as a school or as a volunteer. Find out how on our
    <LinkTo @route='index'>Get Involved Page</LinkTo>.</p>

  <h3 class='uk-margin'><strong>For Schools and Students</strong></h3>
  <p>We run many schemes, from events and competitions to work experience and
    apprenticeships. Get in touch and we could be running events or clubs at
    your school or inviting you to visit DVLA.</p>

  <h3 class='uk-margin'><strong>For Organisations</strong></h3>
  <p>If you want to sponsor, donate or work with us on STEM Projects we are
    happy to work with you. Just get in touch and we&apos;ll see what we can do to
    help your project even if its just getting the message out there.</p>

  <h3 class='uk-margin'><strong>For Individuals</strong></h3>
  <p>If you want to become a volunteer and work at DVLA, you can join our STEM
    Programme or if you don&apos;t work at DVLA, we can help point you in the right
    direction. Just get in touch on our <LinkTo @route="contact">Contact Us</LinkTo> page.</p>
</section>